Options -Indexes

<FilesMatch "^(\.env|.*\.sql|.*\.log|.*\.bak|.*\.backup)$">
  Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(app|database|storage|tests|scripts|backend|mobile)/ - [F,L]
</IfModule>
